<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-dark">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
	<p>Ian Rice is a Tattoo Artist from Denver, CO with 13+ years of experience in traditional tattooing disciplines with a focus on modern illustration.</p>

	<p>His passion for the craft of tattooing brings the experience of modern standards with traditional sensibility. He believes that getting a tattoo should be a
	  positive experience and loves working with his clients to create a unique experience.</p>

	<p>Ian is currently interested  in medium to large scale illustrative / traditional pieces. Medium to large script tattoos are also priority.</p>

	<p>Free quotes for artwork and tattoos are aways available!</p>
      </div>
    </div>
  </div>
</section>
